<script>
  ( () =>
   {
    let themeStoreIds = {
      "887": {  
              "selector": ".price--large",
              "insertMethod": "afterend",
              "index": [0],
          },
      "1434": {  
              "selector": ".price--large",
              "insertMethod": "afterend",
              "index": [0],
          },
          "1431": {  
            "selector": ".price--large",
            "insertMethod": "afterend",
            "index": [0],
        },
          "796": {
              "selector": ".product__price",
              "insertMethod": "afterend",
              "index": [0],
          },
          "380": {
              "selector": ".product-single__prices",
              "insertMethod": "afterend",
              "index": [0],
          },
          "578": {
              "selector": ".product-single__prices",
              "insertMethod": "afterend",
              "index": [0],
          },
          "730": {
              "selector": ".price-container",
              "insertMethod": "afterend",
              "index": [0],
          },
          "679": {
              "selector": ".price-container",
              "insertMethod": "afterend",
              "index": [0],
          },
          "829": {
              "selector": ".product__current-price",
              "insertMethod": "afterend",
              "index": [0],
          },
          "775": {
              "selector": ".product-single__meta-list",
              "insertMethod": "afterend",
              "index": [0],
          },
          "766": {        
              "selector": ".product__price",
              "insertMethod": "afterend",
              "index": [0],
          },
          "857": {        
              "selector": ".product-block--price",
              "insertMethod": "afterend",
              "index": [0],
          },
          "1356": {        
              "selector": ".price--large",
              "insertMethod": "afterend",
              "index": [0],
          },
          "1368": {        
              "selector": ".price--large",
              "insertMethod": "afterend",
              "index": [0],
          },
          "855": {        
              "selector": ".ProductMeta__PriceList",
              "insertMethod": "afterend",
              "index": [0],
          },
          "885": {        
              "selector": ".product-modal__content .price",
              "insertMethod": "afterend",
              "index": [0],
          },
          "871": {        
              "selector": ".price-list",
              "insertMethod": "afterend",
              "index": [0],
          },
          "568": {        
              "selector": ".price-container",
              "insertMethod": "afterend",
              "index": [0],
          },
          "1363": {        
              "selector": ".price__container",
              "insertMethod": "afterend",
              "index": [0],
          },
          "902": {        
              "selector": ".product-block--price",
              "insertMethod": "afterend",
              "index": [0],
          },
          "872": {        
              "selector": ".product-block--price",
              "insertMethod": "afterend",
              "index": [0],
          },
          "739": {        
              "selector": ".product__price__wrap",
              "insertMethod": "afterend",
              "index": [0],
          },
          "847": {        
              "selector": ".product-block--price",
              "insertMethod": "afterend",
              "index": [0],
          },
          "838": {        
              "selector": ".product-pricing",
              "insertMethod": "afterend",
              "index": [0],
          },
          "714": {        
              "selector": ".product-meta__price-list-container",
              "insertMethod": "afterend",
              "index": [0],
          },
          "868": {        
              "selector": ".product__price__wrap",
              "insertMethod": "afterend",
              "index": [0],
          },
          "836": {        
              "selector": ".product-single__price-text",
              "insertMethod": "afterend",
              "index": [0],
          },
          "677": {        
              "selector": ".price-area",
              "insertMethod": "afterend",
              "index": [0],
          },
          "801": {        
              "selector": "#ProductPrice",
              "insertMethod": "afterend",
              "index": [0],
          },
          "606": {        
              "selector": ".product-price--wrapper",
              "insertMethod": "afterend",
              "index": [0],
          },
          "732": {        
              "selector": ".product-price",
              "insertMethod": "afterend",
              "index": [0],
          },
          "863": {        
              "selector": ".product-detail__price",
              "insertMethod": "afterend",
              "index": [0],
          },
          "686": {        
              "selector": "#product-price",
              "insertMethod": "afterend",
              "index": [0],
          },
          "623": {        
              "selector": "#product-price",
              "insertMethod": "afterend",
              "index": [0],
          },
          "911": {        
              "selector": ".product__price",
              "insertMethod": "afterend",
              "index": [0],
          },
          "910": {        
              "selector": ".product-price-block",
              "insertMethod": "afterend",
              "index": [0],
          },
          "910": {        
              "selector": ".product-price-block",
              "insertMethod": "afterend",
              "index": [0],
          },
          "842": {        
              "selector": ".price-reviews .price",
              "insertMethod": "afterend",
              "index": [0],
          },
          "735": {        
              "selector": ".product__price",
              "insertMethod": "afterend",
              "index": [0],
          },
          "851": {        
              "selector": '[class="#product-meta-price"]',
              "insertMethod": "afterend",
              "index": [0],
          },
          "849": {        
              "selector": '.product-title__wrapper',
              "insertMethod": "afterend",
              "index": [0],
          },
          "865": {        
              "selector": '.offers',
              "insertMethod": "afterend",
              "index": [0],
          },
          "411": {        
              "selector": '.product-page--pricing',
              "insertMethod": "afterend",
              "index": [0],
          },
          "765": {        
              "selector": '.product-price--wrapper',
              "insertMethod": "afterend",
              "index": [0],
          },
          "777": {        
              "selector": '.product__price-and-badge',
              "insertMethod": "afterend",
              "index": [0],
          },
          "798": {        
              "selector": '.product__price',
              "insertMethod": "afterend",
              "index": [0],
          },
          "903": {        
              "selector": '.product__price--compare',
              "insertMethod": "afterend",
              "index": [0],
          },
          "725": {        
              "selector": '.product__price',
              "insertMethod": "afterend",
              "index": [0],
          },
          "939": {        
              "selector": '.product-price--wrapper',
              "insertMethod": "afterend",
              "index": [0],
          },
          "457": {        
              "selector": '.product-details__price-container',
              "insertMethod": "afterend",
              "index": [0],
          },
          "566": {        
              "selector": '.product__price',
              "insertMethod": "afterend",
              "index": [0],
      },
      "141": {        
              "selector": '#product-price',
              "insertMethod": "afterend",
              "index": [0],
          },
          "812": {        
              "selector": '#product-price',
              "insertMethod": "afterend",
              "index": [0],
          },
          "688": {        
              "selector": '.modal_price',
              "insertMethod": "afterend",
              "index": [0],
          },
      "908": {        
              "selector": '.product-page--pricing',
              "insertMethod": "afterend",
              "index": [0],
          },
  
      "567": {        
              "selector": '#product-price',
              "insertMethod": "afterend",
              "index": [0],
         },
          "790": {        
              "selector": '.product__price',
              "insertMethod": "afterend",
              "index": [0],
          },
          "833": {        
              "selector": '.product-price--root',
              "insertMethod": "afterend",
              "index": [0],
          },
          "230": {        
              "selector": '.product-price.product-price--large',
              "insertMethod": "afterend",
              "index": [0],
         },
          "652": {        
              "selector": '.product-price',
              "insertMethod": "afterend",
              "index": [0],
          },
          "859": {        
              "selector": '[data-price-wrapper]',
              "insertMethod": "afterend",
              "index": [0],
         
          },
          "601": {        
              "selector": '.product-block--price',
              "insertMethod": "afterend",
              "index": [0],
         
          },
          "459": {        
              "selector": '.product-price',
              "insertMethod": "afterend",
              "index": [0, 1],
         
          },
          "57": {        
              "selector": '.product-price-wrap',
              "insertMethod": "afterend",
              "index": [0],
         
          },
          "773": {        
              "selector": '[data-price-wrapper]',
              "insertMethod": "afterend",
              "index": [0],
         
          },
          "718": {        
              "selector": '.product__price',
              "insertMethod": "afterend",
              "index": [0],
         
          },
          "304": {        
              "selector": '.product-block--price',
              "insertMethod": "afterend",
              "index": [0],
         
          },
          "657": {        
              "selector": '.product-price--large',
              "insertMethod": "afterend",
              "index": [0],
         
          },
          "757": {        
              "selector": '.type_price',
              "insertMethod": "afterend",
              "index": [0],
         
          },
          "870": {        
              "selector": '[data-price-wrapper]',
              "insertMethod": "afterend",
              "index": [0],
         
          },
          "864": {        
              "selector": '.product__price__wrap',
              "insertMethod": "afterend",
              "index": [0],
         
          },
          "918": {        
              "selector": '[name="add"]',
              "insertMethod": "afterend",
              "css": "text-align: center!important;",
              "index": [0],
         
          },
          "846": {        
              "selector": '.price--large',
              "insertMethod": "afterend",
              "index": [0],
         
          },
          "450": {        
              "selector": '.pricearea',
              "insertMethod": "afterend",
              "index": [0],
         
          },
          "793": {        
              "selector": '.product-block--price',
              "insertMethod": "afterend",
              "index": [0],
         
          },
          "587": {        
              "selector": '.pricing',
              "insertMethod": "afterend",
              "index": [0],
         
          },
          "691": {        
              "selector": '.type-price',
              "insertMethod": "afterend",
              "index": [0],
         
          },
          "687": {        
              "selector": '.price',
              "insertMethod": "afterend",
              "index": [0],
         
          },
          "909": {        
              "selector": '.product-prices',
              "insertMethod": "afterend",
              "index": [0],
         
          },
          "1197": {        
              "selector": '.product-form__prices',
              "insertMethod": "afterend",
              "index": [0],
         
          },
          "705": {        
              "selector": '.product__price',
              "insertMethod": "afterend",
              "index": [0],
         
          },
          "826": {        
              "selector": '.product-price',
              "insertMethod": "afterend",
              "index": [0],
         
          },
          "856": {        
              "selector": '.product__price',
              "insertMethod": "afterend",
              "index": [0],
         
          },
          "464": {        
              "selector": '.modal_price',
              "insertMethod": "afterend",
              "index": [0],
         
          },
          "853": {        
              "selector": '.product-main-price',
              "insertMethod": "afterend",
              "index": [0, 1],
         
          },
          "827": {        
              "selector": '[data-price-wrapper]',
              "insertMethod": "afterend",
              "index": [0],
         
          },
          "808": {
          "selector": '.product-price',
              "insertMethod": "afterend",
              "index": [0], 
          },
      
    };

    var themeIds = { 
  
      '80737828973':   { 
       "selector": '.price-list',
       "insertMethod": 'afterend',
       "css": '',
       "index": [ 0 ]
        },
  
      '119132553379':   { 
      "selector": '.price-list',
      " insertMethod": 'afterend',
      " css": '',
      " index": [ 0 ]
        },
  
      '127888261273':   { 
        "selector": '.miniInfo',
        "insertMethod": 'beforebegin',
        "css": '',
        "index": [ 0 ]
          },
    
      '120671764557':   { 
        "selector": '.product-pricing',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '127206391975':   { 
        "selector": '.price-container',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '124911878343':   { 
        "selector": '.product-page-info__price-sale-details',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '129053556899':   { 
        "selector": '.price_with_reviews',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '130176483563':   { 
        "selector": '.ProductMeta',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ] 
        },
      '83363135547':   { 
        "selector": '.product-detail__price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '127224905890':   { 
        "selector": '.special--price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0, 1 ]
        
        },
      '128183238825':   {
        "selector": '.price-review',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '121626001450':   { 
        "selector": '.product-block--price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '128436207779':   { 
        "selector": '.price_tag_line',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '126645436574':   { 
        "selector": '.price--large',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ] }
        ,
      '78688190528':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '126064197743':   { 
        "selector": '.price--large',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '126068424815':   { 
        "selector": '.price__sale',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120322228421':   { 
        "selector": '.price__pricing-group',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '130799337696':   { 
        "selector": '.modal_price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
        },
      
      '46687715446':   { 
        "selector": '.priceCurrency',
        "insertMethod": 'beforebegin',
        "css": '',
        "index": [ 0 ]
          },
    
      '127451070656':   { 
        "selector": '.product__price--holder',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '129100710134':   { 
        "selector": '.main-product__block-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '129671594227':   { 
        "selector": '.price-review',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120469553214':   { 
        "selector": '.product-block--price',
        "insertMethod": 'beforeend',
        "css": '',
        "index": [ 0 ]
          },
    
      '130062188793':   { 
        "selector": '.sc-ezbkAF.A-dmbO.pf-18_.pf-r.pf-r-eh',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ] }
        ,
      '82067357754':   { 
        "selector": '.modal_price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120983912582':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120369578057':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '130470019331':   { 
        "selector": '.product__unit-price--spacing',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120462475319':   { 
        "selector": '#ProductPrice',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '127996854460':   { 
        "selector": '.pdp_grid',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '130594570480':   { 
        "selector": '.price_wrap',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '130672132327':   { 
        "selector": '.product-single__price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
      '128947716321':   { 
        "selector": '.product-block--price',
        "insertMethod": 'beforeend',
        "css": '',
        "index": [ 0 ]
          },
      '127314591896':   { 
        "selector": '.product-block--price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ] }
        ,
      '83988611152':   { 
        "selector": '.product__price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
      '129805517019':   { 
        "selector": '.product__unit-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ] }
        ,
      '78845083690':   {
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '115508674743':   { 
        "selector": '#ProductPrice.money',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '128206995661':   { 
        "selector": '.new-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '100362846357':   { 
        "selector": '.productPrice',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120784257083':   { 
        "selector": '.price-container',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 1 ] }
        ,
      '34111717418':   { 
        "selector": '.price--on-sale',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120335597683':   { 
        "selector": '.product-price ',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '117880127678':   { 
        "selector": '.price__pricing-group',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120766857282':   { 
        "selector": '.price-container',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '118169567395':   { 
        "selector": '.price-list',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '128323682475':   { 
        "selector": '.price-container',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 1 ]
          },
    
      '129017151646':   { 
        "selector": '.row-1',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120730026086':   { 
        "selector": '.price-prod-all',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120202330172':   { 
        "selector": '.price-list',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '127696601253':   { 
        "selector": '.prod-title',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '127212224681':   { 
        "selector": '.product-block--price',
        "insertMethod": 'beforeend',
        "css": '',
        "index": [ 0 ]
          },
    
      '128778993825':   { 
        "selector": '.product-details__block',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 2 ]
          },
    
      '128874381502':   { 
        "selector": '.price--large',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 2 ]
          },
    
      '130479980795':   { 
        "selector": '.price__pricing-group',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 2 ]
          },
    
      '127155077308':   { 
        "selector": '.product-block--price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '127501271193':   { 
        "selector": '.product__price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0, 1 ]
        
        },
      '124851290286':   {
        "selector": '.product__price-savings',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '111865069718':   { 
        "selector": '.modal_price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '130392850667':   { 
        "selector": '.product__tax',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '121476972750':   { 
        "selector": '.price-box',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '106077028505':   { 
        "selector": '.price__pricing-group',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '126509940897':   { 
        "selector": '.prd-block_price--style2',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120539807803':   { 
        "selector": '.form__width .product__price__wrap',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '126757798039':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120614125614':   { 
        "selector": '.tt-product-single-info .tt-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '127262195874':   { 
        "selector": '.product__tax',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '129406238956':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '127869583521':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120268783765':   { 
        "selector": '.product-price ',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '130786853088':   { 
        "selector": '.product-form__info-item .price-list',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '127205638301':   { 
        "selector": '.product__"selector"s',
        "insertMethod": 'before"be"gin',
        "css":'',
        "index": [ 0 ]
          },
    
      '129242169588':   { 
        "selector": '.product__price__wrap',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '126566301866':   { 
        "selector": '.product_single_price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '127926042805':   { 
        "selector": '.price__pricing-group',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 1 ]
          },
    
      '123465531598':   { 
        "selector": '.product__price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0, 1 ]
        },
      '33046298681':   { 
        "selector": '.product-single__price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '126271881366':   { 
        "selector": '.product-form__info-list',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '123280326843':   { 
        "selector": '.product-single__form-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120660263047':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 1 ]
          },
    
      '128350421172':   { 
        "selector": '.product__unit-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '129878786289':   { 
        "selector": '.product-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '125027090582':   { 
        "selector": '.product-single__form-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '126841847994':   { 
        "selector": '.price--large',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '121461932119':   { 
        "selector": '.product__price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '121483919447':   { 
        "selector": '.product__price-savings',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120811651127':   { 
        "selector": '.product-detail__price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120758272113':   { 
        "selector": '.product__price--ppPrice',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '127077777575':   { 
        "selector": '.price-list',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ] }
        ,
      '81985273939':   { 
        "selector": '.pt-product-single-info .pt-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 2 ] }
        ,
      '127030886556':   {
        "selector": '.product__price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '124154511545':   { 
        "selector": '.product__header',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '124946907292':   { 
        "selector": '.price-container',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '128972488873':   { 
        "selector": '.price-container',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '121278300238':   { 
        "selector": '.prices',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '129737261268':   { 
        "selector": '.prices',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '124306260157':   { 
        "selector": '#product-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 1 ]
          },
    
      '127378358427':   { 
        "selector": '.product__unit-price',
        "insertMethod": 'beforebegin',
        "css": '',
        "index": [ 0 ]
          },
    
      '120577916974':   { 
        "selector": '.row',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ] }
        ,
      '80593911882':   { 
        "selector": '.product-single__prices',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '130686451948':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120802476109':   { 
        "selector": '.product-pricing',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '126108598383':   { 
        "selector": '.price__sale',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '131346006265':   { 
        "selector": '.product-block--price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120887935110':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '121707135049':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '130279211239':   { 
        "selector": '.product-single__bottom .product-single__price',
        "insertMethod": 'beforeend',
        "css": '',
        "index": [ 0 ]
          },
    
      '131168403680':   { 
        "selector": '.product-block--price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120283299938':   { 
        "selector": '.product-pricing',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '129372717227':   { 
        "selector": '.price-container',
      "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '129302724766':   { 
        "selector": '.row-1',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '128979108001':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120686968967':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 1 ]
          },
    
      '128547291316':   { 
        "selector": '.product__unit-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120875909233':   { 
        "selector": '.product__price--ppPrice',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '130515665108':   { 
        "selector": '.price-container',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '128892567741':   { 
        "selector": '.price--show-badge',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '126970560664':   { 
        "selector": '.prices',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '121538052170':   { 
        "selector": '.product-single__price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '122360889387':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '122496352299':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '128170688718':   { 
        "selector": '.product_single_price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '121463341165':   { 
        "selector": '.price-area',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '122584236164':   { 
        "selector": '.product-single__prices',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '130676916480':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120722587691':   { 
        "selector": '.product-form__info-list .product-form__info-item',
        "insertMethod": 'afterend',
        "css": 'white-space:nowrap;',
        "index": [ 0 ]
          },
    
      '123091583019':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '122454343871':   { 
        "selector": '.price-list',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '131016327425':   { 
        "selector": '.product-block.product-block--price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '129167786211':   { 
        "selector": '.flex.wrap.fl_between.al_center.price-review',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '131263561981':   { 
        "selector": '.price price--large.price--on-sale.price--show-badge',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '127239291074':   { 
        "selector": '.modal_price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ] }
        ,
      '13127483458':   { 
        "selector": '#price-field',
        "insertMethod": 'afterend',
        "css": 'margin-bottom:22px',
        "index": [ 0 ]
          },
    
      '126144807023':   { 
        "selector": '.price__sale',
        "insertMethod": 'afterend',
        "css": 'margin-bottom:22px;',
        "index": [ 0 ]
          },
    
      '131839033593':   { 
        "selector": '.tt-product-single-info.stickprcolheight-js .tt-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '128065306830':   { 
        "selector": '.price-container',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '103366918310':   { 
        "selector": '.product-form__info-item',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120951472214':   { 
        "selector": '.product-form__info-item',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '127944982779':   { 
        "selector":'.flex product-single__price.product-single__price-product-template',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120779047000':   { 
        "selector": '.price-wrapper',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '128154566862':   { 
        "selector": '.product-single__price',
        "insertMethod": 'afterend',
        "css": 'margin-bottom:17px;',
        "index": [ 0 ]
          },
    
      '130925822189':   { 
        "selector": '.price--large',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '122949238837':   { 
        "selector": '.main-product__block-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '114752028871':   { 
        "selector": '.price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '131752820971':   { 
        "selector": '.col-md-5 .product-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '130162163939':   { 
        "selector": '.product-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '131801710834':   { 
        "selector": '.price-container',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120253349923':   { 
        "selector": '.product-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '127299354831':   { 
        "selector": '.product__price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 1 ]
          },
    
      '130536571110':   { 
        "selector": '.product-meta__price-list-container',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '129126596790':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '129341784278':   { 
        "selector": '.price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '129251934394':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120445141061':   { 
        "selector": '.product-item-caption-price-current',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0, 1 ]
        
        },
      '128403112108':   {
        "selector": '.productPrice',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '129514012844':   { 
        "selector": '.product-meta__price-list-container',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '126005149904':   { 
        "selector":'.product-single__price.product-single__price-product-template',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '126989533362':   { 
        "selector": '.price.price--large.price--show-badge',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '128851181746':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '129138098330':   { 
        "selector": '.product-text',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '124174696500':   { 
        "selector": '.price-container',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '117190754503':   { 
        "selector": '.price-container',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '130993914102':   { 
        "selector": '.product-block--price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120502288521':   { 
        "selector": '.product-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0, 1 ]
        
        },
      '129210613942':   {
        "selector": '.product__price__wrap',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120337039437':   { 
        "selector": '.pricing',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 1 ]
          },
    
      '129469907108':   { 
        "selector":'.product-single__price.product-single__price-product-template',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 1 ]
          },
    
      '128543719643':   { 
        "selector":'.product-price__price.product-price__price-product-template-new',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 1 ]
          },
    
      '121703432273':   { 
        "selector": '.price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120967626838':   { 
        "selector": '.product-title .prices',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ] }
        ,
      '79611396230':   { 
        "selector": '.box-single-product',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120767545446':   { 
        "selector": '.tt-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 4 ]
          },
    
      '123360280635':   { 
        "selector": '.product-block--price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '131269722334':   { 
        "selector": '.product-detail__price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '126998315188':   { 
        "selector": '.flex.wrap.fl_between.al_center.price-review',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '130996437232':   { 
        "selector": '.product__price-wrap-7325068099824',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ] }
        ,
      '81696161879':   { 
        "selector": '.product-pricing',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '124403581079':   { 
        "selector":'.product-single__price.product-single__price-product-template',
        "insertMethod": 'afterend',
        "css": 'margin-top:-20px;margin-right:0px;margin-bottom:20px;',
        "index": [ 0 ]
          },
    
      '126382375068':   { 
        "selector": '.product-block--price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '129259339989':   { 
        "selector": '.product-single__price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120602034348':   { 
        "selector": '.product-block--price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120750932086':   { 
        "selector": '.product__price.on-sale',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ] }
        ,
      '37292048474':   { 
        "selector": '.product-single__prices',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '128743276713':   { 
        "selector": '.single-product-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '125877321883':   { 
        "selector": '[data-product-title]',
        "insertMethod": 'afterend',
        "css": 'text-align: left;',
        "index": [ 0 ]
          },
    
      '121709822033':   { 
        "selector": '.price',
        "insertMethod": 'afterend',
        "css": 'text-align: left;',
        "index": [ 0 ]
          },
    
      '120673927265':   { 
        "selector": '.product-single__price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '126418190487':   { 
        "selector": '.price_stock',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '127442911398':   { 
        "selector": '.prices',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '132236738806':   { 
        "selector": '.main-product__block.main-product__block-@app',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '124594323594':   { 
        "selector": '.price--large',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '127745196222':   { 
        "selector": '.product__price__wrap',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '131283812602':   { 
        "selector": '.product-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '121903513782':   { 
        "selector": '.product-single__meta-list',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '132432888038':   { 
        "selector": '.product-single__price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '130955051255':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '108117885088':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '126415077543':   { 
        "selector": '.price-container',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120573755624':   { 
        "selector": '.gr_pr_rw',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '131694854401':   { 
        "selector": '.product-price.product-price--large',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '133167055091':   { 
        "selector":'.product-single__price.product-single__price-product-template',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '122270056529':   { 
        "selector": '.product-form__info-item',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '122189709395':   { 
        "selector": '.product-block--price',
        "insertMethod": 'beforeend',
        "css": '',
        "index": [ 0 ]
          },
    
      '129251311810':   { 
        "selector": '.price',
        "insertMethod": 'beforeend',
        "css": '',
        "index": [ 0 ]
          },
    
      '107258904743':   { 
        "selector": '.product__price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '131334963412':   { 
        "selector": '.prod__reviews-and-prices',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120648761411':   { 
        "selector": '.product__price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '127665242282':   { 
        "selector": '.product-block--price',
        "insertMethod": 'beforeend',
        "css": '',
        "index": [ 0 ]
          },
    
      '124281585855':   { 
        "selector": '.price-container',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '125196075193':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '130978185468':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '132067950804':   { 
        "selector": '.product-single__price-product-template',
        "insertMethod": 'afterend',
        "css": 'margin-top:-20px;margin-right:0px;margin-bottom:20px;',
        "index": [ 0 ]
          },
    
      '126217715823':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '128889159913':   { 
        "selector": '.totalAmount',
        "insertMethod": 'afterend',
        "css": 'color:black;',
        "index": [ 0 ] }
        ,
      '80742613035':   { 
        "selector": '.product__price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '121649922084':   { 
        "selector": '.product-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '128023789812':   { 
        "selector": '.sealsubs-container',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '121384534069':   { 
        "selector": '.modal_price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '127375900879':   { 
        "selector": '.product__price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 1 ]
          },
    
      '120715149443':   { 
        "selector": '.product_prices',
        "insertMethod": 'beforeend',
        "css": '',
        "index": [ 0 ] }
        ,
      '83785252961':   { 
        "selector": '.btn-wrap',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '102428639388':   { 
        "selector": '.btn-wrap',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '117994193089':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '125656793256':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '119142875313':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120260264097':   { 
        "selector": '.product__price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '131883106521':   { 
        "selector": '.price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '116285898908':   { 
        "selector": '.prices',
        "insertMethod": 'beforeend',
        "css": '',
        "index": [ 0 ]
          },
    
      '122062733451':   { 
        "selector": '#product_price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '123061534781':   { 
        "selector": '.radio-wrapper.js.product-form__item',
        "insertMethod": 'beforeend',
        "css": '',
        "index": [ 0 ]
          },
    
      '131802431718':   { 
        "selector": '.price_Quant_select',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '123925037101':   { 
        "selector": '.main-product__block-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120257609879':   { 
        "selector": '.payment-buttons',
        "insertMethod": 'beforebegin',
        "css": '',
        "index": [ 0 ]
          },
    
      '121037488182':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '121116196945':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '125839704271':   { 
        "selector": '.product-info__prices',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '123888271529':   { 
        "selector": '.prices',
        "insertMethod": 'beforeend',
        "css": '',
        "index": [ 0 ]
          },
    
      '129582465197':   { 
        "selector": '.price-review',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '129238991038':   { 
        "selector": '.product-meta__price-list-container',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '128830603423':   { 
        "selector": '.price .price--large',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '132658331868':   { 
        "selector": '.prices',
        "insertMethod": 'beforeend',
        "css": '',
        "index": [ 0 ]
          },
    
      '123503050786':   { 
        "selector": '.price.price--large',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120281235606':   { 
        "selector": '.price-container',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '128328761585':   { 
        "selector": '.price.price--large',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '132133224660':   { 
        "selector": '.price.price--large',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '117864857764':   { 
        "selector": '.prices',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '123076706487':   { 
        "selector": '.ProductMeta__PriceList Heading',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '132258857188':   { 
        "selector": '.price_range',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120800084055':   { 
        "selector": '.modal_price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '121206440010':   { 
        "selector": '.price-box',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '131823108318':   { 
        "selector": '.gr_pr_rw.d-flex',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '118742712508':   { 
        "selector": '.product-single__price',
        "insertMethod": 'beforeend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120796479640':   { 
        "selector": '.prices',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '130320236761':   { 
        "selector": '.product-shop .prices',
        "insertMethod": 'beforeend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120540627013':   { 
        "selector": '.price-container',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '128987070719':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'beforeend',
        "css": '',
        "index": [ 0 ]
          },
    
      '125501472918':   { 
        "selector": '.shop-product__price',
        "insertMethod": 'beforeend',
        "css": '',
        "index": [ 0 ]
          },
    
      '132063559924':   { 
        "selector": '.price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '121040732239':   { 
        "selector": '.product-single__price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '126621384863':   { 
        "selector": '.product__info-wrapper .no-js-hidden',
        "insertMethod": 'beforeend',
        "css": '',
        "index": [ 0 ]
          },
    
      '127686312116':   { 
        "selector": '.product__price',
        "insertMethod": 'afterend',
        "css": 'text-align:center;',
        "index": [ 0 ]
          },
    
      '131941695747':   { 
        "selector": '.product-meta__price-list-container',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '132489740507':   { 
        "selector": '.prices',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '132962517250':   { 
        "selector": '.product-single__price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '126091198511':   { 
        "selector": '.product-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '131800924403':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '129216381123':   { 
        "selector": '.main-product__block-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '130528018656':   { 
        "selector": '.price-review',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '126670274728':   { 
        "selector": '.price-list',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '132101734612':   { 
        "selector": '.main-product__block-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '127699648706':   { 
        "selector": '.product__price__wrap',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '121655754837':   { 
        "selector": '.ProductMeta .ProductMeta__PriceList',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '123651391646':   { 
        "selector": '.product-single__prices',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '123554562241':   { 
        "selector": '.product-info-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '122892943519':   { 
        "selector": '.prd_section',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '130003861690':   { 
        "selector": '.product__block .product__price-and-badge',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '128864288942':   { 
        "selector": '.product-block--price',
        "insertMethod": 'beforeend',
        "css": '',
        "index": [ 0 ]
          },
    
      '132492984569':   { 
        "selector": '.ProductMeta__PriceList',
        "insertMethod": 'beforeend',
        "css": '',
        "index": [ 0 ]
          },
    
      '127070273694':   { 
        "selector": '.product__price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ] }
        ,
      '77680803949':   { 
        "selector": '.product-single__price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '132704665848':   { 
        "selector": '.new-price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '127171723416':   { 
        "selector": '.price-review',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0 ]
          },
    
      '120303091810':   { 
        "selector": '.entry-price.price',
        "insertMethod": 'afterend',
        "css": '',
        "index": [ 0, 1 ] }
    };

    
    console.log("panthil_aapmixo1");
    const fetchCountryData = async ()=>{
      let cookie_location = null;
      const response =await fetch("https://appmixo.in/cdn-cgi/trace", {
        method: 'GET',
        redirect: 'follow'
      })
        .then(response => response.text())
        .then(async(result) => {
          cookie_location = await (result.split('\n').reduce((obj,ele)=>{
            let arr = ele.split("=");
            return {...obj,[arr[0]]:arr[1]} },{}).loc);
            {% comment %} console.log("location api data : ",location); {% endcomment %}
            {% comment %} document.cookie = `location=${loc}`; {% endcomment %}
        })
        .catch((error) => {
            console.log('error', error)
        });
      if(cookie_location)
      {
        {% comment %} console.log("location api outside : ",location) {% endcomment %}
        return cookie_location;
      }else{
        {% comment %} console.log("location api Default" ) {% endcomment %}
        return "location";
      }  
    }
    const CountryCodeFromUrl =async () =>{
        try{
          const searchParams = new URLSearchParams(window.location.search);
          if(searchParams.has("c_code"))
          {
            console.log("got the search", searchParams.get("c_code"))
            setCookie("ams_location",searchParams.get("c_code"),1);
          }else{
            console.log("not got the search", searchParams.get("c_code"))
  
              const cookie_d = document.cookie.split("; ").reduce((obj,ele)=>{
                let arr=ele.split("=");
                return {...obj,[arr[0]]:arr[1] } },{})["ams_location"];
                if(cookie_d && cookie_d.length<8)
                {
                  console.log("cookie true")  
                  console.log("CountryCodeFromUrl : " ,cookie_d);
                  setCookie("ams_location",cookie_d,1);
                }else{
                  console.log("cookie false");
                  const code = await fetchCountryData();
                  console.log("CountryCodeFromUrl : " ,code);
                  setCookie("ams_location",code,1)
  
                }
              {% comment %} console.log("byufsgvggyukgyuk   :  ", cookie_d); {% endcomment %}
          } 
          return (document.cookie.split("; ").reduce((obj,ele)=>{
            let arr=ele.split("=");
            return {...obj,[arr[0]]:arr[1] } },{})["ams_location"]);
        }catch(e) {
            CountryCodeFromUrl();
        }
    }
  
    function setCookie(cname, cvalue, exdays) {
      const d = new Date();
      d.setTime(d.getTime() + (exdays*24*60*60*1000));
      let expires = "expires="+ d.toUTCString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
    const dynamicContent = async () =>{
            console.log("dynamicContent");
            const country_content =  getContent();
            console.log("DYNAMIC CONTENT COUNTRY CODE : ",country_content);
            const c_code = await CountryCodeFromUrl();
            console.log("code : ",c_code);
            const  c_data= country_content.find((e)=>{return ((e[0] === c_code))}) 
            let data = null;
  
            if(c_data){
              console.log("Country content : ",c_data);
              data = c_data;
            }else{
              const d_data = country_content.find((e)=>{return ((e[0] === "Default"))}) 
              console.log("Default  content : ",d_data);
              data = d_data;
            }        
            if(data)
            {
                // header content
                const h_color = data[1][0] ? data[1][0][2]:"#fff"
                const header = data[1][0] ? data[1][0][1]:""

                 // header content Display
                if (document.querySelectorAll(".dynamic_header_Drop")[0] && header) {
                  console.log("div conditions true");
                  document.querySelectorAll(".dynamic_header_Drop")[0].innerHTML = `<div  class="dynamic_content_div" style="background-color:${h_color};padding: 1px;">${header}</div>`;
                }else if(document.querySelectorAll("#shopify-section-header")[0] && header){
                  console.log("main div header");
                  document.querySelectorAll("#shopify-section-header")[0].insertAdjacentHTML('afterend',`<div  class="dynamic_content_div" style="background-color:${h_color};padding: 1px;">${header}</div>`);
                }

                 // footer content
                 const f_color = data[1][1] ? data[1][1][2]:"#fff"
                 const footer = data[1][1] ? data[1][1][1]:""
                 
                // footer content Display
                if (document.querySelectorAll(".dynamic_footer_Drop")[0] && footer) {
                  console.log("div conditions true");
                  document.querySelectorAll(".dynamic_footer_Drop")[0].innerHTML = `<div  class="dynamic_content_div" style="background-color:${f_color};padding: 1px;">${footer}</div>`;
                }else if (document.querySelectorAll("#shopify-section-footer")[0] && footer) {
                  console.log("main div footer");
                  document.querySelectorAll("#shopify-section-footer")[0].insertAdjacentHTML('beforebegin',`<div  class="dynamic_content_div" style="background-color:${f_color};padding: 1px;">${footer}</div>`);
                } 

                // products content
                const p_color = data[1][2] ? data[1][2][2]:"#fff"
                const product = data[1][2] ? data[1][2][1]:""

                // products content Display
                if (document.querySelectorAll(".dynamic_products_Drop")[0] && product) {
                  console.log("div conditions true");
                  {% comment %} console.log("theme : ",Shopify?.theme?.theme_store_id) {% endcomment %}
                  document.querySelectorAll(".dynamic_products_Drop")[0].innerHTML = `<div  class="dynamic_content_div" style="background-color:${p_color};">${product}</div>`;
                }else{
                   const theme_data = themeStoreIds[Shopify?.theme?.theme_store_id]
                   console.log("using shopify theme id",Shopify?.theme?.theme_store_id)
                   if(theme_data)
                   {
                      if(document.querySelectorAll(theme_data.selector)[0] && product)
                      {
                          console.log("true",theme_data)
                          document.querySelectorAll(theme_data.selector)[0]?.insertAdjacentHTML(theme_data.insertMethod,`<div class="dynamic_content_div" style="background-color:${p_color};">${product}</div>`);
                      }
                    }
                    {% comment %} else{
                        const theme_data = themeIds[Shopify?.theme?.id];
                        console.log("using shopify theme id",Shopify?.theme?.id);
                        if(theme_data)
                        {
                          console.log("second true")
                          document.querySelectorAll(theme_data.selector)[0].insertAdjacentHTML(theme_data.insertMethod,`<div class="dynamic_content_div" style="background-color:${p_color};${css}">${product}</div>`);
                        }
                    }  {% endcomment %}
              }
          } 
    }
    
    const getContent = () =>{
      let ALL_CONTENT = [];
      let vv =null;
      console.time("metafields")
      {% comment %} console.log("06-07-2022 - 2",JSON.stringify(shop.metafields.appmixo_dynamic)); {% endcomment %}
      {% for metafield in shop.metafields.appmixo_dynamic %}
        {% assign variable = 'appmixo_' | append: forloop.index0 %}
        vv= {{ shop.metafields.appmixo_dynamic[ variable ] }} 
        for (const [key, value] of Object.entries(vv)) {
           {% comment %} console.log(` ${key} : ${value[0]} `); {% endcomment %}
           ALL_CONTENT.push([key,value]);
  
        }   
      {% endfor %} 
       console.log("ALL CONTENT : ", ALL_CONTENT);  
      console.timeEnd("metafields")
       return ALL_CONTENT;
    }
    
    document.addEventListener("readystatechange", async() => {
      {% comment %} console.log("Dynamic content11") {% endcomment %}
  
      switch (event.target.readyState) {
        case 'loading':
          console.log("event.target.readystate", event.target.readyState);
  
          break;
  
        case 'interactive':
          console.log("interactive 0.3.0")
          {% comment %} console.time("final") {% endcomment %}
          dynamicContent();
          {% comment %} console.timeEnd("final") {% endcomment %}
          break;
  
        case 'complete':
          break;
      }
    })
} )();
</script>
{% schema %}
{
"name": "Country Wise Content",
"target": "body",
"settings": []
}
{% endschema %}