.addcontentbutton {
  justify-content: end;
  display: flex;
  /* padding: 20px;  */
}
.mb {
  margin-bottom: 30px;
}
.flex_sb {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.flex {
  display: flex;
}
.m5 {
  margin: 5px;
}

.pl5 {
  padding-left: 5px;
}

.text_decoration {
  text-decoration: none;
}

.s16 {
  font-size: 16px;
}

.text-editor {
  /* width: 1086px; */
  padding-top: 5px;
  margin: 0 auto;
  z-index: 99;
  position: relative;
}

.ql-editor {
  min-height: 200px;
}

.custome_header {
  /* display: flex; */
  /* justify-content: space-between; */
  padding: var(--p-space-3) var(--p-space-5);
  grid-template-columns: 1fr 1fr 1fr 0.48fr;
  display: grid;
}

.dynamic-details {
  /* display: flex;
    justify-content: space-between; */
  grid-template-columns: 1fr 1fr 1fr 0.48fr;
  display: grid;
}

.header_text {
  padding-right: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.react-flages-select {
  flex: 1 0 auto;
}
.react-flages-disable-select {
  flex: 1 0 auto;
  pointer-events: none;
}
.react-country-switch {
  margin-right: 15px;
  display: flex;
  padding: 3px;
}
.react-country-switch p {
  margin-right: 15px;
  padding-top: 3px;
  padding-bottom: 2px;
  /* font-size: 16px; */
}
.color-picker-btn {
  display: flex;
  align-items: center;
}

.color-picker-btn .color-showbx {
  width: 40px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid rgb(153 158 164);
}

.color-picker-btn p {
  margin-left: 18px;
}

.color-picker {
  margin-left: 25px;
}
.color-picker p {
  margin-bottom: 4px;
}
.select-container {
  width: 100%;
}
.select-container p {
  margin-bottom: 4px;
}
.form-label p {
  margin-bottom: 4px;
}
.second-form-container {
  display: flex;
}
.loading {
  display: flex;
  justify-content: center;
}
